@using WebAppAspNetMvcHtml.Models
@model List<AvailableDocument>

<h3>Список документов</h3>

@Html.ActionLink("Добавить запись", "Create", "AvailableDocuments")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Серия
            </th>
            <th>
                Номер
            </th>
            <th>
                Дата получения
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var availableDocument in Model)
        {
        <tr>
            <td>
                @availableDocument.Name
            </td>
            <td>
                @availableDocument.Series
            </td>
            <td>
                @availableDocument.Number
            </td>
            <td>
                @(availableDocument.DateOfReceiving.HasValue? availableDocument.DateOfReceiving.Value.ToString("dd.MM.yyyy") : "-")
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "AvailableDocuments", new { id = availableDocument.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "AvailableDocuments", new { id = availableDocument.Id }, new { })
            </td>
        </tr>}
    </tbody>
</table>